html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}
* {
  box-sizing: border-box;
}
a {
  color: #0070f3;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  max-width: 100%;
  display: block;
}

.layout {
  background-color: rgb(132, 167, 167);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-header {
  background-color: rgb(130, 122, 147);
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.layout-navbar {
  display: flex;
  width: 45vh;
  justify-content: space-evenly;
}

.logo {
  font-size: 18px;
  color:white;
  padding: 12px;
  margin: 13px;
  background-color: #637588;
  border-radius: 40%;
}

.layout_footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(130, 122, 147);

}

.main {
  height: 100%;
  min-width: 100%;
}

